@model List<EntityLayer.Concrete.Media>

@{
    ViewData["Title"] = "Archive";
}

<style>
    body {
        background: linear-gradient(135deg, #1e1e2f, #12121c);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .container {
        max-width: 1100px;
        margin: auto;
        padding: 40px 20px;
        flex: 1;
    }

    h2 {
        color: #f8f8f8;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
    }

    .btn-secondary {
        background-color: #44445a;
        border: none;
        color: white;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        padding: 30px;
        font-size: 22px;
        display: block;
        text-align: center;
        text-decoration: none;
    }

        .btn-secondary:hover {
            background-color: #5a5a72;
        }

    .btn-success {
        font-size: 20px;
        padding: 12px 24px;
        border-radius: 8px;
        margin-bottom: 30px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
    }
</style>

<div class="container">
    <h2>@ViewBag.CategoryName Kategorisindeki Oyunlar</h2>

    <div class="text-center">
        <a href="/Home/RandomGame" class="btn btn-success">Random Movie</a>
    </div>
    @{
        int displayNumber = Model.Count;
    }
    <div class="grid">
        @foreach (var game in Model.OrderByDescending(g => g.Id))
        {
            <a href="/Home/PlayGame/@game.Id" class="btn btn-secondary">
                @displayNumber
            </a>
            displayNumber --;
        }
    </div>
</div>
